{% load staticfiles %}
<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="nav-bar-header">
            <img src="{% static 'a.jpg' %}" width="200px">
        </div>
        <div>
            <ul class="nav navbar-nav" role="navigation">
                <li><a href="{% url 'blog:blog_title' %}">首页</a> </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">登录</a> </li>
            </ul>
        </div>
    </nav>
</div>