{% extends "base.html" %}
{% load staticfiles %}
{% block title %}register user{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>注册</h1>
    <p>如果你已注册，请点击<strong><a href="{% url 'account:user_login' %}">登录</a></strong> </p>
    <form class="form-horizontal" action="." method="post">{% csrf_token %}
        <div class="form-group">
            <label for="{{  form.username.id_for_label  }}" class="col-md-5 control-label">用户名</label>
            <div class="col-md-6 text-left">{{ form.username }}</div>
        </div>
    </form>
</div>